.vertical-menu {
  max-width: 100px;
  margin-right: 50px;
}

.nav.vertical-menu > .active > a {
  background: #000;
}

.nav.vertical-menu > li > a:hover, .nav.vertical-menu > li > a:focus {
  text-decoration: none;
  background-color: #000;
}

.nav.vertical-menu > li > a {
  padding: 0;
  margin-bottom: 10px;
  width: 20px;
  height: 20px;
  background-color: yellow;
}