@import '../../css/mediaQueriesVars.scss';

.project-index .menu-divider {
  position: absolute;
  width: 100%;
  left: 0;
  top: 102px;
  height: 2px;
  border-top: 2px solid #8b8e95;
  opacity: 0.2;
}

.project-index h1 {
  font-size:30px;
  text-transform: uppercase;
  text-align: center;
  color: #f2f2f2;
}

.project-index .description {
  font-family:  "Proxima Nova", sans-serif;
  font-size:20px;
  color: #f2f2f2;
}

.project-index h1:after {
  content: '';
  display: block;
  background: #58b749;
  width: 7%;
  height: 2px;
  margin: 20px auto;
  overflow: hidden;
}

.project-index .item-list {
  margin-top: 150px;
}

// Project index item

.project-index .project-item {
  margin-bottom: 30px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.06);
  transition: 0.3s ease-out;
}

.project-index .project-item:hover {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.16);
}

.project-index .project-item .project-options {
  background-color: #6ec860;
  cursor: default;
  margin-top:20px;
  text-align: center;
  z-index: 0;
}

.project-index .project-item  .project-options .col-md-4 {
  padding-left: 0;
  padding-right: 0;
}

.project-index .project-item  .project-options .option-item {
  padding:10px;
  background-color: #6ec860;
  color: #f2f2f2;
  font-size:13px;
}

.project-index .project-item  .project-options .option-item:after {
  content: '';
  position: absolute;
  top: 15%;
  right: 0;
  width: 1px;
  height: 70%;
  background-color: rgba(255,255,255,0.3);
  z-index: 0;
}

.project-index .project-item  h3 {
  position: relative;
  margin:20px 0;
  border-bottom: 1px solid #eaeaeb;
  padding-bottom:15px;
}

.project-index .project-item h3:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 15%;
  height: 2px;
  background-color: #52ad44;
}

.project-index .project-item .area {
  margin-bottom: -10px;
  font-family:"Proxima Nova", sans-serif;
  font-size:34px;
  font-weight:700;
}

.project-index .project-item .area .units {
  font-size: 18px;
  font-weight:700;
}

.project-index .project-item .area-description {
  margin-top:-5px;
  font-size:13px;
  color: #bdbcbc;
  letter-spacing: 1px;
}

.project-index .project-item .item-footer .col-md-6 {
  padding:0;
}

// grey button
.project-index .project-item  .btn.btn-grey:focus {
  outline: none;
}

.project-index .project-item .btn-wrapper {
  text-align: right;
}

.project-index .project-item  .btn-grey {
  position: relative;
  display: inline-block;
  padding: 12px 32px;
  background: transparent;
  color: #bdbcbc;
  font-weight:500;
  border: 2px solid #d2d2d2;
  border-radius: 40px;
  transition: all 0.2s ease-in-out;
}


.project-index .project-item .btn-grey:hover,
.project-index .project-item .btn-grey:focus,
.project-index .project-item .btn-grey:active {
  color: #58b749;
  border-color: #6ec860;
}

// responsive behavior

// up to 767px width
@media (max-width: $screen-xs-max) {
  .project-index .project-item  h3 {
    margin: 20px 0 10px;
    text-align: center;
    border-bottom:none;
  }
  .project-index .project-item h3:after {
    left: 43%;
    width: 14%;
  }
  .project-index .project-item .area-wrapper {
    text-align: center;
    margin-bottom:15px;
  }
  .project-index .project-item .btn-wrapper {
    text-align: center;
    margin-bottom:10px;
  }
}
// width 768px to 991px
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .project-index .project-item  h3 {
    margin: 20px 0 10px;
    text-align: center;
    border-bottom:none;
  }
  .project-index .project-item h3:after {
    left: 43%;
    width: 14%;
  }
  .project-index .project-item .area-wrapper {
    text-align: center;
    margin-bottom:15px;
  }
  .project-index .project-item .btn-wrapper {
    text-align: center;
    margin-bottom:10px;
  }
}

// width 992px to 1199px
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .project-index .project-item .area {
    font-size:26px;
  }
}
// width 1200px to 1439px
@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {

}
// width 1440px and over
@media (min-width: $screen-xlg-min) {

}