@import '../../css/mediaQueriesVars.scss';

.project-index .menu-divider {
  position: absolute;
  width: 100%;
  left: 0;
  top: 102px;
  height: 2px;
  border-top: 2px solid #8b8e95;
  opacity: 0.2;
}

.project-index h1 {
  font-size:30px;
  text-transform: uppercase;
  text-align: center;
}

.project-index .description {
  font-family:  "Proxima Nova", sans-serif;
  font-size:20px;
}

.project-index h1:after {
  content: '';
  display: block;
  background: #58b749;
  width: 7%;
  height: 2px;
  margin: 20px auto;
  overflow: hidden;
}

// responsive behavior

// up to 767px width
@media (max-width: $screen-xs-max) {

}
// width 768px to 991px
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}
// width 992px to 1199px
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}
// width 1200px to 1439px
@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {

}
// width 1440px and over
@media (min-width: $screen-xlg-min) {

}