@import '../../css/mediaQueriesVars.scss';

.project-index .menu-divider {
  position: absolute;
  width: 100%;
  left: 0;
  top: 102px;
  height: 2px;
  border-top: 2px solid #8b8e95;
  opacity: 0.2;
}

.project-index h1 {
  font-size:30px;
  text-transform: uppercase;
  text-align: center;
  color: #f2f2f2;
}

.project-index .description {
  font-family:  "Proxima Nova", sans-serif;
  font-size:20px;
  color: #f2f2f2;
}

.project-index h1:after {
  content: '';
  display: block;
  background: #58b749;
  width: 7%;
  height: 2px;
  margin: 20px auto;
  overflow: hidden;
}

.project-index .item-list {
  margin-top: 150px;
}

// Project index item

.project-index .project-item {
  margin-bottom: 30px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.06);
  transition: 0.3s ease-out;
}

.project-index .project-item:hover {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.16);
}

.project-index .project-item .project-options {
  background-color: #6ec860;
  cursor: default;
  margin-top:20px;
  text-align: center;
  z-index: 0;
}

.project-index .project-item  .project-options .col-md-4 {
  padding-left: 0;
  padding-right: 0;
}

.project-index .project-item  .project-options .option-item {
  padding:10px;
  background-color: #6ec860;
  color: #f2f2f2;
  font-size:13px;
}

.project-index .project-item  .project-options .option-item .info {
  display: none;
}

.project-index .project-item  .project-options .option-item.inactive {
  position: relative;
  background-color: #c4c4c4;
  color: #858585;
  z-index:1;
}

.project-index .project-item  .project-options .option-item.inactive .info {
  display: block;
  position: absolute;
  top: 5px;
  right: 5px;
  color: #c4c4c4;
  background-color: #fff101;
  padding: 0px 6px;
}

.project-index .project-item  .project-options .option-item:after {
  content: '';
  position: absolute;
  top: 15%;
  right: 0;
  width: 1px;
  height: 70%;
  background-color: rgba(255,255,255,0.3);
  z-index: 0;
}

.project-index .project-item  h3 {
  position: relative;
  margin:20px 0;
  border-bottom: 1px solid #eaeaeb;
  padding-bottom:15px;
}

.project-index .project-item h3:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 15%;
  height: 2px;
  background-color: #52ad44;
}

.project-index .project-item .area {
  margin-bottom: -10px;
  font-family:"Proxima Nova", sans-serif;
  font-size:34px;
  font-weight:700;
}

.project-index .project-item .area .units {
  font-size: 18px;
  font-weight:700;
}

.project-index .project-item .area-description {
  margin-top:-5px;
  font-size:13px;
  color: #bdbcbc;
  letter-spacing: 1px;
}

.project-index .project-item .item-footer .col-md-6 {
  padding:0;
}

// grey button
.project-index .project-item .btn-wrapper {
  text-align: right;
}

// cta section
.project-index .cta-section {
  background-image: url(./form-bg.jpg);
}
.project-index .container-fluid.cta-section {
  padding: 50px 0;
}
.project-index .cta-section h2 {
  margin-top:20%;
  color: #f2f2f2;
  margin-bottom: 30px;
}
.project-index .cta-section p.section-description {
  color: #d2d7e0;
}

// form

.project-index .form-wrapper [class*='col-'] {
  padding-left: 0;
  padding-right: 0;
}
.project-index .form-wrapper {
  position: relative;
  margin:30px auto;
  background-color: rgba(0, 0, 0, 0.302);
  box-shadow: 0 15px 80px 0 rgba(108, 117, 131, 0.2);
  padding: 0 50px;
  text-align: center;
}
.project-index .form-wrapper .form-badge {
  display: inline-block;
  color: #898300;
  background-color: #fff101;
  text-transform: uppercase;
  font-family: "Proxima Nova", sans-serif;
  font-size: 12px;
  padding: 6px 35px;
  border-radius: 0 0 5px 5px;
}

.project-index .form-wrapper h4 {
  margin-top:20px;
  color: #f2f2f2;
}

.project-index .form-wrapper h4:after {
  content: '';
  display: block;
  margin: 15px auto;
  height: 2px;
  width: 15%;
  background-color: #41af2f;
}

.p-line {
  position: relative;
  overflow: hidden;
}

.p-line:after {
  content: '';
  position: absolute;
  top: 10px;
  margin-left: 30px;
  height: 1px;
  background-color: rgba(255,255,255,0.1);
  width: 100%;
}

.project-index span.input-icon.input-group-addon {
  position: relative;
  background: transparent;
  color: #41af2f;
  border: 1px solid #ebebeb;
  border-radius: 25px 0 0 25px;
  padding: 15px 15px 15px 25px;
  border-right: none;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.project-index span.input-icon.input-group-addon:after {
  content: '';
  position: absolute;
  top: 20%;
  left: 100%;
  height: 60%;
  width: 1px;
  background-color: #ebebeb;
  opacity: 0.7;
}

.project-index input.input-textfield.form-control,
.project-index textarea.input-textfield.form-control{
  background: transparent;
  padding: 25px;
  border-radius: 0 25px 25px 0;
  border-left: none;
  color: #d2d7e0;
}

.project-index textarea.input-textfield.form-control {
  resize: none;
}

.project-index input.input-textfield.form-control:focus,
.project-index textarea.input-textfield.form-control:focus {
  border-color: #52ad44;
  box-shadow: none;
}
.project-index .form-control::-moz-placeholder {
  color: #d2d7e0;
}
.project-index .form-control:-ms-input-placeholder {
  color: #d2d7e0;
}
.project-index .form-control::-webkit-input-placeholder {
  color: #d2d7e0;
}

.project-index .btn.btn-green {
  margin-bottom:40px;
}

.project-index .btn.btn-green:before {
  width: 102%;
  left: -1%;
  top: -15%;
}

// responsive behavior

// up to 767px width
@media (max-width: $screen-xs-max) {
  .project-index .project-item  h3 {
    margin: 20px 0 10px;
    text-align: center;
    border-bottom:none;
  }
  .project-index .project-item h3:after {
    left: 43%;
    width: 14%;
  }
  .project-index .project-item .area-wrapper {
    text-align: center;
    margin-bottom:15px;
  }
  .project-index .project-item .btn-wrapper {
    text-align: center;
    margin-bottom:10px;
  }
}
// width 768px to 991px
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .project-index .project-item  h3 {
    margin: 20px 0 10px;
    text-align: center;
    border-bottom:none;
  }
  .project-index .project-item h3:after {
    left: 43%;
    width: 14%;
  }
  .project-index .project-item .area-wrapper {
    text-align: center;
    margin-bottom:15px;
  }
  .project-index .project-item .btn-wrapper {
    text-align: center;
    margin-bottom:10px;
  }
}

// width 992px to 1199px
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .project-index .project-item .area {
    font-size:26px;
  }
}
// width 1200px to 1439px
@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {

}
// width 1440px and over
@media (min-width: $screen-xlg-min) {

}