@import '../../css/mediaQueriesVars.scss';

.project-page .card {
  margin-bottom: 30px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.06);
  transition: 0.3s ease-out;
}

// responsive behavior

// up to 767px width
@media (max-width: $screen-xs-max) {

}
// width 768px to 991px
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}
// width 992px to 1199px
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}
// width 1200px to 1439px
@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {

}
// width 1440px and over
@media (min-width: $screen-xlg-min) {

}