#filter-projects h3 {
  font-size:25px;
  font-weight:700;
}

#filter-projects hr.green:before {
  content: '';
  position: absolute;
  width: 17.5%;
  height: 2px;
  background-color: #58b749;
}

#filter-projects input.form-control {
  padding: 20px;
  border-radius: 25px;
}

#filter-projects select.form-control:not([size]):not([multiple]) {
  height: auto!important;
}

#filter-projects select.form-control {
  padding: 9px 20px;
  border-radius: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#filter-projects input.form-control:focus,
#filter-projects select.form-control:focus {
  border-color: #52ad44;
  box-shadow: none;
}

#filter-projects .category-select {
  position: relative;
}

#filter-projects .dropdown-icon {
  position: absolute;
  top: 5px;
  right: 6px;
  background-color: #ecebeb;
  border: 1px solid #dedede;
  border-radius: 50%;
  padding: 4px 8px;
  color: #58b749;
  pointer-events: none;
}

#filter-projects .range-slider {
  margin-top: 10px;
  margin-bottom: 20px;
}

// checkboxes

#filter-projects .checkbox-green input[type="checkbox"] {
  display: none;
}

#filter-projects .checkbox-green label,
#filter-projects .checkbox-green.checkbox-inline {
  padding-left: 0;
}

#filter-projects .checkbox-green .cr {
  position: relative;
  display: inline-block;
  border: 1px solid rgb(222, 222, 222);
  background-color: #fff;
  border-radius: 3px;
  width: 24px;
  height: 24px;
  float: left;
  margin-right: .5em;
  transition: all .15s ease;
}

#filter-projects .checkbox-green:hover .cr{
  border: 1px solid rgb(142, 222, 130);
  background-color: rgb(255, 255, 255);
}

#filter-projects .checkbox-green .cr .fa {
  position: absolute;
  font-size: 17px;
  line-height: 0;
  top: 50%;
  left: 3px;
  color: #459638;
}

#filter-projects .checkbox-green input[type="checkbox"] + .cr .fa {
  transform: scale(3) rotateZ(-20deg);
  opacity: 0;
  transition: all .3s ease-in;
}

#filter-projects .checkbox-green input[type="checkbox"]:checked + .cr .fa {
  transform: scale(1) rotateZ(0deg);
  opacity: 1;
}
#filter-projects .checkbox-green input[type="checkbox"]:disabled + .cr{
  opacity: .5;
}

// floors radios

#filter-projects .floors-radios .col-md-6 {
  padding-left: 5px;
  padding-right: 5px;
}

#filter-projects .floor-radio-btn input[type="radio"] {
  display: none;
}

#filter-projects .floor-radio-btn label {
  display: block;
}

#filter-projects .floor-radio-btn .floor-text {
  padding: 10px 0;
  text-align: center;
  background-color: #f7f7f7;
  border: 1px solid #dedede;
  border-radius: 30px;
  transition: border-color .2s ease-in-out;
}

#filter-projects .floor-radio-btn:hover .floor-text {
  border-color: #52ad44;
  transition: background 0.5s ease-in-out;
}

#filter-projects .floor-radio-btn input[type="radio"]:checked + .floor-text {
  background-image: -moz-linear-gradient( -90deg, rgb(89,186,74) 0%, rgb(69,150,56) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(89,186,74) 0%, rgb(69,150,56) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(89,186,74) 0%, rgb(69,150,56) 100%);
  color: #fff;
}

// rooms radios

#filter-projects .radio-green input[type="radio"] {
  display: none;
}

#filter-projects .radio-green.radio-inline {
  padding-left: 0;
}

#filter-projects .radio-green .number {
  padding: 7px 14px;
  background-color: #f7f7f7;
  border: 1px solid #dedede;
  border-radius: 50%;
  transition: border-color .2s ease-in-out;
}

#filter-projects .radio-green:hover .number {
  border-color: #52ad44;
  transition: background 0.5s ease-in-out;
}

#filter-projects .radio-green input[type="radio"]:checked + .number {
  background-image: -moz-linear-gradient( -90deg, rgb(89,186,74) 0%, rgb(69,150,56) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(89,186,74) 0%, rgb(69,150,56) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(89,186,74) 0%, rgb(69,150,56) 100%);
  color: #fff;
}

// checkboxes

#filter-projects .checkbox-green .svg-icon {
  position: relative;
}

#filter-projects .checkbox-green .svg-icon svg {
  position: relative;
  bottom: -0.125em;
}

#filter-projects .checkbox-green .svg-icon.double svg {
  bottom: -0.250em;
}

