@import '../../css/mediaQueriesVars.scss';

.second-section .yt-cover {
  margin-top: 20px;
  box-shadow: 0 20px 32px 0 rgba(0, 0, 0, 0.2);
}

.second-section .company-info {
  padding-right: 20px;
}

.second-section h1 {
  font-size:38px;
}

.advantages {
  font-family: "Proxima Nova", sans-serif;
}

.advantages p {
  font-weight: 700;
}

.adv-block:after {
  content: '';
  display: block;
  height: 2px;
  background-color: #ffd801;
  width: 15%;
}

.second-section .advantages .adv-number {
  color: #4ba03e;
  font-size: 50px;
  font-weight:900;
}

.second-section .advantages .adv-text {
  color: #a0e396;
  font-size: 27px;
}

// responsive behavior

@media (max-width: $screen-xs-max) {
  .second-section h1 {
    font-size:28px;
    text-align: center;
  }
  .second-section h4 {
    font-size:20px;
  }
  .second-section .advantages .adv-block {
    margin-left:30%;
  }

}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .advantages.row .col-md-2 {
    width: 20%;
  }
  .second-section h1 {
    font-size:36px;
    text-align: center;
  }
  .second-section h4 {
    font-size:20px;
  }

  .second-section .advantages .adv-text {
    font-size:20px;
  }
  .second-section .advantages p {
    font-size:14px;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .advantages.row .col-md-2 {
    width: 20%;
  }
}

@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  .advantages.row .col-md-2 {
    width: 20%;
  }

}

@media (min-width: $screen-xlg-min) {
  .advantages.row .col-md-2 {
    width: 20%;
  }

  .second-section .row {
    margin-top: 6%;
  }

}