@import '../../../css/mediaQueriesVars.scss';

.certificate-item {
  background-color: rgba(39, 54, 79, 0.6);
  padding: 25px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
}

// responsive behavior

// up to 767px width
@media (max-width: $screen-xs-max) {

}
// width 768px to 991px
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}
// width 992px to 1199px
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .hidden-medium {
    display: none;
  }
  .col-md-6.euro-description {
    padding: 0;
    margin-left: 40px;
  }
  .fourth-section h1 {
    font-size:28px;
  }
  .owl-theme-servus .owl-nav {
    width: 80%;
  }
  .owl-theme-servus .owl-dots {
    width: 80%;
  }
  .certificate-item {
    width: 80%;
  }
}
// width 1200px to 1439px
@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  .col-md-6.euro-description {
    padding-left: 20px;
    margin: 4% 0 0 20px;
  }
  .fourth-section h1 {
    font-size:32px;
  }
  .owl-theme-servus .owl-nav {
    width: 80%;
  }
  .owl-theme-servus .owl-dots {
    width: 80%;
  }
  .certificate-item {
    width: 80%;
  }
}
// width 1440px and over
@media (min-width: $screen-xlg-min) {
  .fourth-section {
    margin-top: 5%;
  }
}