@import '../../../css/mediaQueriesVars.scss';

.card .panel-header {
  position: relative;
  border-bottom: 1px solid #eaeaeb;
}

.card .panel-header:after {
  content: '';
  display: block;
  width: 10%;
  height: 2px;
  background-color: #58b749;
}

.card .square:before {
  content: '';
  position: absolute;
  background-color: #eaeaeb;
  width: 2px;
  height: 65%;
  top: 22%;
  left: 0;
}

.card p.caption {
  font-size: 13px;
}

.card .title p.caption {
  color: #58b749;
}

.card .square  p.caption {
  color: #c7c7c7;
  text-align: left;
  margin-top: -10px;
}

.card .square {
  text-align: right;
}

.card .square-block {
  display: inline-block;
}

.card .square h2 {
  color: #58b749;
  font-weight:700;
  text-align: right;
}

.card h2 span {
  font-size:20px;
}

.card p.description {
  margin-top:10px;
  min-height: 90px;
}

// responsive behavior

// up to 767px width
@media (max-width: $screen-xs-max) {
  .third-section .lp-link {
    margin: 20px 0 40px;
  }

  .card .square:before {
    display: none;
  }
  
  .card .square {
    text-align: left;
  }

  .third-section .lp-link {
    font-size:17px;
  }

  .third-section .yt-cover .play-icon {
    font-size: 35px;
  }
}
// width 768px to 991px
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .third-section .lp-link {
    margin: 20px 0 40px;
  }
}
// width 992px to 1199px
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .hidden-medium {
    display: none;
  }
  .third-section {
    margin: 0 50px 0 30px;
  }
  .third-section h1 {
    margin-top: 0;
    font-size: 36px;
  }

  .card .panel-header {
    margin-top:-20px;
  }

  .card h3 {
    font-size:20px;
    margin-bottom:5px;
  }
  .card h2 {
    font-size:26px;
  }

  .third-section .lp-link {
    margin-top: -10px;
  }
}
// width 1200px to 1439px
@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  .hidden-medium {
    display: none;
  }
  .third-section {
    margin:0 30px 0 20px;
  }
  .third-section h1 {
    margin-top: 0;
    font-size: 36px;
  }

  .card .panel-header {
    margin-top:-20px;
  }

  .card h3 {
    font-size:20px;
    margin-bottom:5px;
  }
  .card h2 {
    font-size:26px;
  }

  .third-section .lp-link {
    margin-top: -10px;
  }

}
// width 1440px and over
@media (min-width: $screen-xlg-min) {
  .third-section {
    margin-top:2%;
  }
}