@import 'customBootstrap.scss';

//body.landing-section {
//  overflow: hidden;
//}

body.bg-dark {
  color: #d2d7e0;
}

.landing-section {
  position: relative;
}

.text-highlight {
  color: #58b749;
}

p.p-highlight {
  border-left: 2px solid #58b749;
  padding-left: 10px;
}