@import 'bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import 'fonts/museoSans/stylesheet.css';
@import 'fonts/proximaNova/stylesheet.css';


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$brand-primary: #58b749;

//== Scaffolding
//
//## Settings for some of the most global styles.

$text-color: lighten($gray-base, 36%); // #5c5c5c
$link-color: $brand-primary;
$link-hover-color: lighten( saturate( $brand-primary, 21 ), 13 );
$link-hover-decoration: none !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  "Museo Sans Cyrl", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          16px;
$font-size-large:         ceil(($font-size-base * 1.25)); // ~20px
$font-size-small:         ceil(($font-size-base * 0.85)); // ~14px

$font-size-h1:            floor(($font-size-base * 2.65)); // ~42px
$font-size-h2:            floor(($font-size-base * 2.15)); // ~34px
$font-size-h3:            ceil(($font-size-base * 1.7)); // ~28px
$font-size-h4:            ceil(($font-size-base * 1.25)); // ~20px
$font-size-h5:            $font-size-base; //16px
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~14px

//** By default, this inherits from the `<body>`.
$headings-font-family:    "Proxima Nova", sans-serif;
$headings-font-weight:    500;
$headings-line-height:    1.1;
//$headings-color:          #333333;

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:   #5aa14f;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:      #333333;


//== Navbar
//
//##

// Basics of a navbar
$navbar-height:                    100px;
$navbar-margin-bottom:             $line-height-computed !default;
$navbar-border-radius:             $border-radius-base !default;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2)) !default;
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height:       340px !default;

$navbar-default-color:             #cecece;
$navbar-default-bg:                transparent;
$navbar-default-border:            transparent;

// Navbar links
$navbar-default-link-color:                #333333;
$navbar-default-link-hover-color:          #5aa14f;
$navbar-default-link-hover-bg:             transparent;
$navbar-default-link-active-color:         #5aa14f;
$navbar-default-link-active-bg:            transparent;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #ddd !default;
$navbar-default-toggle-icon-bar-bg:        #888 !default;
$navbar-default-toggle-border-color:       #ddd !default;


//=== Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      #d2d7e0;
$navbar-inverse-bg:                         transparent;
$navbar-inverse-border:                     transparent;

// Inverted navbar links
$navbar-inverse-link-color:                 #d2d7e0;
$navbar-inverse-link-hover-color:           #5aa14f;
$navbar-inverse-link-hover-bg:              transparent;
$navbar-inverse-link-active-color:          #5aa14f;
$navbar-inverse-link-active-bg:             transparent;
$navbar-inverse-link-disabled-color:        #444 !default;
$navbar-inverse-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
$navbar-inverse-brand-color:                $navbar-inverse-link-color !default;
$navbar-inverse-brand-hover-color:          #fff !default;
$navbar-inverse-brand-hover-bg:             transparent !default;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            #58b749;
$navbar-inverse-toggle-icon-bar-bg:         #fff !default;
$navbar-inverse-toggle-border-color:        #58b749;

//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-font-weight:                normal !default;

$btn-default-color:              #333 !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:             #ccc !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             darken($btn-primary-bg, 5%) !default;

$btn-success-color:              #fff !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             darken($btn-success-bg, 5%) !default;

$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                darken($btn-info-bg, 5%) !default;

$btn-warning-color:              #fff !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             darken($btn-warning-bg, 5%) !default;

$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              darken($btn-danger-bg, 5%) !default;

$btn-link-disabled-color:        $gray-light !default;

// Allows for customizing button radius independently from global border radius
$btn-border-radius-base:         $border-radius-base !default;
$btn-border-radius-large:        $border-radius-large !default;
$btn-border-radius-small:        $border-radius-small !default;

//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-lg-min;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);

//== Panels
//
//##

$panel-bg:                    #fff !default;
$panel-body-padding:          20px 40px 30px 40px;
$panel-heading-padding:       10px 15px !default;
$panel-footer-padding:        $panel-heading-padding !default;
$panel-border-radius:         0;

//** Border color for elements within panels
$panel-inner-border:          #ddd !default;
$panel-footer-bg:             #f5f5f5 !default;

$panel-default-text:          $gray-dark !default;
$panel-default-border:        #ddd !default;
$panel-default-heading-bg:    #f5f5f5 !default;