@import '../../css/mediaQueriesVars.scss';

.top-frame {
  position: absolute;
  top: 102px;
  left: 4%;
  right: 5%;
  height: 10%;
  border: 2px solid #8b8e95;
  border-bottom: none;
  opacity: 0.2;
}

//.frame-title {
//  position: absolute;
//  left: 5%;
//  right: 5%;
//}

.bottom-left-frame {
  position: absolute;
  left: 4%;
  bottom: 8%;
  width: 14.5%;
  height: 10%;
  border: 2px solid #8b8e95;
  border-top: none;
  border-right: none;
  opacity: 0.2;
}

.bottom-right-frame {
  position: absolute;
  right: 5%;
  bottom: 8%;
  width: 15%;
  height: 10%;
  border: 2px solid #8b8e95;
  border-top: none;
  border-left: none;
  opacity: 0.2;
}

// Social media sidebar

.social-media {
  position: absolute;
  left: 2.7%;
  top: 50%;
  width: 50px;
  color: #737a88;
  z-index: 0;
}

body.bg-dark .social-media {
  color: #47993a;
}

.social-media a.social-item {
  display: block;
  background: rgb(230, 232, 238);
  width: 40px;
  height: 40px;
  border: 1px solid rgb(212, 217, 228);
  border-radius: 50%;
  margin-bottom: 10px;
  transition: transform 0.2s ease-in-out;
}

.social-media a.social-item:hover {
  transform: scale(1.2);
}

body.bg-dark .social-media .social-item {
  background: rgba(38, 46, 61, 0.72);
  border: none;
  transition: transform 0.2s ease-in-out;
}

.social-media > .social-item.facebook > i {
  padding-top: 13px;
  padding-left: 13px;
}

.social-media > .social-item.instagram > i {
  padding-top: 12px;
  padding-left: 10px;
}

.social-media > .social-item.youtube > i {
  padding-top: 12px;
  padding-left: 9px;
}

body.bg-dark .social-media > .social-item.youtube > i {
  padding-top: 13px;
  padding-left: 10px;
}

// Phone number

#landing-section .phone-number {
  background-color: rgb(230,232,238);
  border: 1px solid rgb(212,217,228);
  border-radius: 30px;
  padding: 5px 20px;
}

#landing-section .phone-number {
  position: absolute;
  left: 21.5%;
  bottom: 5.5%;
}

#landing-section .phone-number h4 {
  color: #737a88;
}

body.bg-dark #landing-section .phone-number {
  background: rgba(35, 43, 56, 0.59);
  border: 1px solid rgb(37, 45, 57);
}

#landing-section .phone-number h4 {
  font-weight: 700;
}

#landing-section .phone-number h4 span {
  color: #9ba4b5;
}

body.bg-dark #landing-section .phone-number h4 span {
  color: #8d98ae;
}

// Callback bottom button
.btn.callback-button:focus {
  outline: none;
}

.callback-button {
  position: absolute;
  right: 23%;
  bottom: 5.5%;
  padding: 15px 20px 15px 55px;
  background-color: #e6e8ee;
  border: 1px solid #d4d9e4;
  border-radius: 30px;
  z-index: 0;
  transition: all 0.2s ease;
}

body.bg-dark .callback-button {
  background: rgba(80, 170, 67, 0.59);
  border: 1px solid rgb(83, 175, 69);
}

.callback-button .bg-phone {
  top: 12%;
  left: 3%;
  position:absolute;
  width: 40px;
  height: 40px;
  background-image: linear-gradient(-90deg, rgb(89,186,74) 0%, rgb(69,150,56) 100%);
  border-radius: 20px;
  text-align: left;
  transition: width 0.3s ease;
}

.callback-button .callback-text {
  position: relative;
  z-index: 10;
  color: #737a88;
}

body.bg-dark .callback-button .callback-text {
  color: #fefefe;
}

.callback-button .bg-phone i {
  position: relative;
  padding-top: 13px;
  padding-left: 12px;
  color: #fefefe;
}

.callback-button:hover .bg-phone,
.callback-button:focus .bg-phone,
.callback-button:active .bg-phone {
  width: 94%;
}

.callback-button:hover .callback-text,
.callback-button:focus .callback-text,
.callback-button:active .callback-text {
  color: #fefefe;

}

// responsive behavior

// up to 767px width
@media (max-width: $screen-xs-max) {

}
// width 768px to 991px
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}
// width 992px to 1199px
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}
// width 1200px to 1439px
@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {

}
// width 1440px and over
@media (min-width: $screen-xlg-min) {

}