@import '../../../css/mediaQueriesVars.scss';

// responsive behavior

// up to 767px width
@media (max-width: $screen-xs-max) {
  footer.default-footer .callback-button {
    right: 0;
  }
}
// width 768px to 991px
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  footer.default-footer .callback-button {
    right: 0;
  }
}

// width 992px to 1199px
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}
// width 1200px to 1439px
@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  footer.default-footer .footer:before {
    content: '';
    position: absolute;
    left: 0;
    top: 35%;
    height: 2px;
    width: 18%;
    background-color: #d4d9e4;
  }
  footer.default-footer .footer:after {
    content: '';
    position: absolute;
    right: 0;
    top: 35%;
    height: 2px;
    width: 18%;
    background-color: #d4d9e4;
  }
}
// width 1440px and over
@media (min-width: $screen-xlg-min) {
  footer.default-footer .footer:before {
    content: '';
    position: absolute;
    left: 0;
    top: 35%;
    height: 2px;
    width: 18%;
    background-color: #d4d9e4;
  }
  footer.default-footer .footer:after {
    content: '';
    position: absolute;
    right: 0;
    top: 35%;
    height: 2px;
    width: 18%;
    background-color: #d4d9e4;
  }
}