@import '../../css/mediaQueriesVars.scss';

.icon-wrapper {
  position: relative;
  background-color: rgba(0,0,0,0.45);
  height: 300px;
  color: #fff;
}

.icon-block {
  position: relative;
  top: 30%;
}

.description-wrapper {
  position: relative;
  height: 184px;
  overflow: hidden;
}

.description-block {
  position: absolute;
  top: 99%;
  padding: 10px;
}

.description-block:before {
  content: '';
  position: absolute;
  top: 0;
  left: 35%;
  background-color: #58b749;
  height: 2px;
  width: 30%;
}

// hover

.icon-wrapper:hover {
  margin-top: -20px;
  background-color: #58b749;
}

.icon-wrapper:hover .icon-block {
  top: -15%;
}

.icon-wrapper:hover .icon-block .icon-bg {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #8c8c8c; // rgb(239, 239, 239)
  border-radius: 50%;
}

.icon-wrapper:hover .icon-block .inner-border {
  display: inline-block;
  border-radius: 50%;
  padding: 10px;
  background-color: rgb(89, 174, 76);
  box-shadow: 0 15px 20px 0 rgba(20, 69, 13, 0.2);
}

.icon-wrapper:hover .icon-block .outer-border {
  display: inline-block;
  border-radius: 50%;
  padding: 10px;
  background-color: rgba(89, 174, 76, 0.3);
}

.icon-wrapper:hover .description-wrapper {
  top: -45px;
  height: 223px;
}

.icon-wrapper:hover .description-block {
  top: 0;
}

.icon-wrapper:hover .description-block:before {
  background-color: #fff;
}