@import '../../css/mediaQueriesVars.scss';

.sixth-section .steps {
  margin-top: 5%;
}

.icon-wrapper {
  position: relative;
  background-color: rgba(0,0,0,0.45);
  height: 360px;
  color: #fff;
}

.icon-block {
  position: relative;
  top: 40%;
  padding: 0 10px;
}

.img-icon {
  display: inline-block;
  width: 46px;
  height: 46px;
}

.steps .icon-1 {
  background: url(icons/icon1.png);
}
.steps .icon-2 {
  background: url(icons/icon2.png);
}
.steps .icon-3 {
  background: url(icons/icon3.png);
}
.steps .icon-4 {
  background: url(icons/icon4.png);
}
.steps .icon-5 {
  background: url(icons/icon5.png);
}

.icon-wrapper:hover .icon-1 {
  background: url(icons/icon1h.png);
}
.icon-wrapper:hover .icon-2 {
  background: url(icons/icon2h.png);
}
.icon-wrapper:hover .icon-3 {
  background: url(icons/icon3h.png);
}
.icon-wrapper:hover .icon-4 {
  background: url(icons/icon4h.png);
}
.icon-wrapper:hover .icon-5 {
  background: url(icons/icon5h.png);
}

.description-wrapper {
  position: absolute;
  bottom: 0;
  height: 220px;
  width: 100%;
  overflow: hidden;
}

.description-block {
  position: absolute;
  top: 99%;
  padding: 10px;
}

.description-block:before {
  content: '';
  position: absolute;
  top: 0;
  left: 35%;
  background-color: #58b749;
  height: 2px;
  width: 30%;
}

// hover

.icon-wrapper:hover {
  background-color: #58b749;
}

.icon-wrapper:hover .icon-block {
  top: -15%;
}

.icon-wrapper:hover .icon-block .icon-bg {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: #efefef;
  border-radius: 50%;
  padding: 10px;
}

.icon-wrapper:hover .icon-block .inner-border {
  display: inline-block;
  border-radius: 50%;
  padding: 10px;
  background-color: rgb(89, 174, 76);
  box-shadow: 0 15px 20px 0 rgba(20, 69, 13, 0.2);
}

.icon-wrapper:hover .icon-block .outer-border {
  display: inline-block;
  border-radius: 50%;
  padding: 10px;
  background-color: rgba(89, 174, 76, 0.3);
}

.icon-wrapper:hover .description-wrapper {
  top: 33%;
}

.icon-wrapper:hover .description-block {
  top: 0;
}

.icon-wrapper:hover .description-block:before {
  background-color: #fff;
}

// responsive behavior

// up to 767px width
@media (max-width: $screen-xs-max) {
  .icon-wrapper {
    margin: 20px auto;
  }
  .icon-wrapper:hover .icon-block {
    top: 0;
  }
  .icon-wrapper:hover .description-wrapper {
    top: 40%;
  }
}
// width 768px to 991px
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .icon-wrapper {
    width: 75%;
    margin: 20px auto;
  }
  .icon-wrapper:hover .icon-block {
    top: 0;
  }
  .icon-wrapper:hover .description-wrapper {
    top: 40%;
  }

  .description-block {
    padding: 10px 10%;
  }
}
// width 992px to 1199px
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .sixth-section .col-md-2 {
    width: 20%;
    padding-left: 5px;
    padding-right: 5px;
  }

  .sixth-section .steps {
    margin: 0 auto;
    width: 95%;
  }

  .icon-wrapper:hover {
    margin-top: -20px;
    background-color: #58b749;
  }

  .icon-wrapper:hover .icon-block {
    top: -15%;
  }
}
// width 1200px to 1439px
@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  .sixth-section .col-md-2 {
    width: 20%;
  }
  .sixth-section .section-header {
    margin-top: -20px;
  }
  .steps {
    margin-right:10px;
  }
  .icon-wrapper {
    height: 320px;
  }
  .icon-wrapper:hover .description-wrapper {
    top: 40%;
  }
  .sixth-section .steps {
    margin-top: 1%;
  }
  .icon-wrapper:hover {
    margin-top: -10px;
    background-color: #58b749;
  }

  .icon-wrapper:hover .icon-block {
    top: -15%;
  }

}
// width 1440px and over
@media (min-width: $screen-xlg-min) {
  .sixth-section .col-md-2 {
    width: 20%;
  }

  .sixth-section .steps {
    margin-top: 8%;
  }

  .icon-wrapper:hover {
    margin-top: -20px;
    background-color: #58b749;
  }

  .icon-wrapper:hover .icon-block {
    top: -15%;
  }
}