@import '../../../css/mediaQueriesVars.scss';

.eleventh-section {
  display: flex;
  flex-direction:column;
  justify-content: center;
}

.eleventh-section .slick-slide.review-item .review-desc {
  opacity: 0;
  font-family:"Proxima Nova", sans-serif;
  font-size:25px;
  font-weight:700;
  margin-top:20px;
  transition: opacity 0.2s ease-in-out;
}

.eleventh-section .slick-slide.slick-center.review-item .review-desc {
  opacity: 1;
}

.eleventh-section .slick-slide.slick-active.review-item:hover .review-desc {
  opacity: 1;
}

.eleventh-section .slick-slide.review-item .review-desc div {
  color: #58b749;
  font-size:16px;
  font-weight:500;
}

.eleventh-section .yt-reviews-link {
  margin: 20px auto;
}

.eleventh-section .yt-reviews-link .btn-green {
  padding: 10px 70px;
}
// responsive behavior

// up to 767px width
@media (max-width: $screen-xs-max) {
  .eleventh-section h1 {
    font-size:28px;
  }
  .eleventh-section .yt-reviews-link .btn-green {
    padding: 10px 40px;
  }
}
// width 768px to 991px
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}
// width 992px to 1199px
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .eleventh-section .slick-theme-reviews {
    width: 85%;
    margin: 0 auto;
  }
}
// width 1200px to 1439px
@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  .eleventh-section h1 {
    margin-top:0;
  }
  .eleventh-section .slick-theme-reviews {
    width: 90%;
    margin: 0 auto;
  }
}
// width 1440px and over
@media (min-width: $screen-xlg-min) {
  .eleventh-section {
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin: 8% 0;
  }
  .eleventh-section .yt-reviews-link {
    margin: 40px auto;
  }

}