@import '../../../css/mediaQueriesVars.scss';

.eleventh-section .owl-item .review-item .review-desc {
  opacity: 0;
  font-family:"Proxima Nova", sans-serif;
  font-size:25px;
  font-weight:700;
  margin-top:20px;
  transition: opacity 0.2s ease-in-out;
}

.eleventh-section .owl-item.active.center .review-item .review-desc {
  opacity: 1;
}

.eleventh-section .owl-item.active:hover .review-item .review-desc {
  opacity: 1;
}

.eleventh-section .owl-item .review-item .review-desc span {
  color: #58b749;
  font-size:16px;
  font-weight:500;
}
// responsive behavior

// up to 767px width
@media (max-width: $screen-xs-max) {

}
// width 768px to 991px
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}
// width 992px to 1199px
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {

}
// width 1200px to 1439px
@media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {

}
// width 1440px and over
@media (min-width: $screen-xlg-min) {

}